.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* List */

/* Seach Bar */
.search-bar {
  width: 100%;
}

.table-container {
  border-radius: 5px;
  border: 5px solid #3a3e58;
  background: #f8f9f8;
  color: #1a1c1d;
  width: auto;
  position: absolute;
  top: 20px;
  left: 20px;
}

.table-header {
  flex: row;
  border: none;
  border-bottom: 5px solid #3a3e58;
  font-size: 20px;
}

.table-head-cell {
  text-align: center;
  padding: 5px 0;
}

.table-body {
  flex: row;
  vertical-align: middle;
  cursor: pointer;
}
.table-cell {
  margin: auto;
  text-align: center;
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 2px solid #3a3e58;
  font-size: 1.2em;
}

.table-cell:hover {
  color: #104277;
  text-decoration: underline;
}

/* Button */
.show-list {
  position: absolute;
  top: 20px;
  left: 20px;
}

.hide-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Markers */
.marker {
  position: absolute;
  width: 40px;
  height: 40px;
  left: -20px;
  top: -20px;

  border: 5px solid #3a3e58;
  border-radius: 40px;
  background-color: #f8f9f8;
  text-align: center;
  color: #1a1c1d;
  font-size: 16px;
  font-weight: bold;
  padding: 4;
}

/* Modal popup */
.popup {
  background: #f8f9f8;
  border: 5px solid #3a3e58;
  border-radius: 5px;
  color: #1a1c1d;
  max-width: 250px;
}

.modal {
  font-size: 12px;
}

.header {
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.content {
  width: 100%;
  padding: 10px 5px;
}
.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
